@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightarbingblue: #4f7ff7;
  --arbingblue: #3c67f4;
  --darkarbingblue: #214cdb;
  --arbingyellow: #F4C93C;
  --arbinggreen: #3CF46D;
  --lightgrey: #F5F9FF;
  --paragraphgray: #71717a;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers navbar and other contents horizontally */
}

/* making arbingglow animation, apply these styles when want to be used */
.button-move-glow {
  animation: move-shadow 20s ease-in-out infinite;
}

@keyframes move-shadow {
  0%, 100% {
    box-shadow: 0 8px 8px rgba(60, 103, 244, 0.6);
}
15% {
    box-shadow: 5px 3px 12px rgba(60, 103, 244, 0.6);
}
20% {
    box-shadow: 8px 0 12px rgba(60, 103, 244, 0.6);
}
35% {
    box-shadow: 2px -7px 12px rgba(60, 103, 244, 0.6);
}
40% {
    box-shadow: 0 -8px 12px rgba(60, 103, 244, 0.6);
}
55% {
    box-shadow: -7px 1px 12px rgba(60, 103, 244, 0.6);
}
60% {
    box-shadow: -8px 0 12px rgba(60, 103, 244, 0.6);
}
75% {
    box-shadow: 6px 7px 12px rgba(60, 103, 244, 0.6);
}
80% {
    box-shadow: 4px 8px 12px rgba(60, 103, 244, 0.6);
}
95% {
    box-shadow: -4px 6px 12px rgba(60, 103, 244, 0.6);
}
}

/* arbingglow animation ends here */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
